.about{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60vh;
}

.about-text{
  width: 80vw;
  text-align: center;
}

.about-text-title{
  font-size: 5em;
  font-weight: 600;
}

.about-text-line{
  border-width: 2px;
  background-color: rgb(var(--color-gray));
  width: 75%;
}

.about-text-content{
  font-size: 2.5em;
}


.about-icon{
  font-size: 14em;
}