.about{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  min-height: 300px;
}

.about-text{
  width: 80vw;
  text-align: center;
}

.about-text-title{
  font-size: 3rem;
  font-weight: 600;
}

.about-text-line{
  border-width: 1px;
  background-color: rgb(var(--color-gray));
  width: 75%;
}

.about-text-content{
  font-size: 1.8rem;
}


.about-icon{
  font-size: 10rem;
}