#about {
  position: relative;
  top: -3rem;
}

#contact {
  position: relative;
  top: -3rem;
}

html, body {
  height: 100%;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(var(--color-gray));
  background-color: rgb(var(--color-secondary));
}

:root{
  --color-white: 	255, 255, 255;
  --color-primary: 242, 222, 162;
  --color-secondary: 242, 241, 223;
  --color-secondary-dark:242, 241, 223;
  --color-gray: 108, 113, 115;
  --color-gray-dark:	36, 38, 33;
  --color-black: 0, 0, 0;
  --color-blue: 91, 126, 170;
  --color-blue-dark: 24, 40, 180;
}

#root{
  height: 100%;
}

* {
  box-sizing: border-box;
}


/* ------------ SCROLLBAR ---------- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #383c3f; 
}
 

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* ------------ END SCROLLBAR ---------- */