header{
  height: 113vh;
}

.header-container{
  background-image: url(./img/background.jpg);
  background-color: rgb(var(--color-secondary));
  background-position: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-clip-path: polygon(600% 0, 0 0, 0 98%);
  clip-path: polygon(900% 0,0 0, 0 0, 0 100%);
  z-index: 10;
  height: 100%;
}

.header-text{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 34vh;
  left: 8vw;
}

.header-title{
  font-style: bold;
  color: rgb(var(--color-secondary));
  font-weight:bold;
  letter-spacing: 0.05em;
  font-size: 4em;
}

.header-subtitle{
  position: relative;
  color: rgb(var(--color-black));
  font-weight: 300;
  text-align: end;
  font-size: 3em;
}

.buttons{
  position: relative;
  justify-content: center;
  text-decoration: none;
  display: flex;
  top: 76vh;

}

.button{
  text-decoration: none;
  margin: 0 1rem;
  padding: 0.5rem 2rem;
  background-color: rgb(var(--color-secondary));
  color: rgb(var(--color-gray));
  font-size: 1.7em;
  border-radius: 60px;
  display: inline-flex;
}

.button:hover{
  text-decoration: none;
  color: rgb(var(--color-black));
}

.button *{
  margin: 0 0.2em;
}

.button-icon{
  font-size: 1.5em;
}
