.footer{
  background-color: rgb(var(--color-gray-dark));
  color: rgb(var(--color-secondary));
  height: 5vh;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a{
  text-decoration: none;
  color: rgb(var(--color-blue));
}

.footer a:hover{
  text-decoration: none;
  color: rgb(var(--color-blue-dark));
}

.footer a *{
  margin: 0 0.2rem;
}

@media only screen and (min-width: 768px) {
  .footer{
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .footer{
    font-size: 1.4rem;
  }
}