.navigation{
  background-color: rgba(var(--color-primary), 0.8);
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 20;
  font-size: 2em;
}

.navigation-logo{
  margin-left: 2rem;
}

.navigation-logo img{
  width: 2em;
  height: auto;
}

.navigation-links{
  display: flex;
  margin-left: auto;
  margin-right: 2rem;
}

.navigation-link{
  display: flex;
  margin: .5rem 0.5rem;
  padding: 0.3rem 1.2rem;
}

.navigation-link-icon i{
  max-height: 1rem;
  color: rgb(var(--color-gray));
  margin: 0.2rem;
}

.navigation-link-text{
  color: rgb(var(--color-gray));
}

.navigation-link:hover{
  text-decoration: none;
  background-color: rgb(var(--color-secondary));
  border-radius: 30px;
}

.navigation-link:hover *:nth-child(n){
  color: rgb(var(--color-black));
}