.navigation{
  background-color: rgba(var(--color-primary), 1);
  height: 7vh;
  min-height: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 20;
  font-size: 1.4em;
  transition: .2s;
}

.navigation-logo{
  margin-left: 2rem;
}

.navigation-logo img{
  width: 2em;
  height: auto;
}

.navigation-links{
  display: flex;
  margin-left: auto;
  margin-right: 2rem;
}

.navigation-link{
  display: flex;
  margin: .5rem 0.5rem;
  padding: 0.3rem 1.2rem;
}

.navigation-link-icon i{
  max-height: 1rem;
  color: rgb(var(--color-gray));
  margin: 0.2rem;
}

.navigation-link-text{
  color: rgb(var(--color-gray));
}

.navigation-link:hover{
  text-decoration: none;
  background-color: rgb(var(--color-secondary));
  border-radius: 30px;
}

.navigation-link:hover *{
  color: rgb(var(--color-black));
}

.transparent{
  background-color: rgba(var(--color-primary), 0);
}

.transparent i{
  color: rgb(var(--color-black));
}

.transparent *{
  color: rgb(var(--color-black));
}

.transparent .navigation-link:hover{
  background-color: rgb(var(--color-gray-dark));
}

.transparent .navigation-link:hover * {
  color: rgb(var(--color-white));
}

.transparent .navigation-logo {
  display: none;
}